<header class="page-header">
  <h2>Recent Comments</h2>
</header>


<p class="text-danger" ng-if="!recentComments.length">No recent comments</p>


<div ng-repeat="comment in recentComments | orderBy: '-created_at'">
  <h4>
    <a href="" ng-click="upvoteComment(comment.id)">&uparrow;</a>
    <a href="" ng-click="downvoteComment(comment.id)">&downarrow;</a>
    {{ comment.score }}
    |
    {{ comment.author | limitTo: 16 }}
    <br>
    <small>
      Commented on
      <a ui-sref="posts.show({ id: comment.post_id })">a post</a>
      <br>
      on:
      {{ comment.created_at | date: 'EEEE d MMMM, yyyy' }}
    </small>
  </h4>
  <blockquote>{{ comment.body | limitTo: 16 }}</blockquote>
</div>



